// Almost all text

// .josefin-sans-<uniquifier> {
//     font-family: "Josefin Sans", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

// Search button

// .aleo-<uniquifier> {
//     font-family: "Aleo", serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: bold;
    font-size: 48px;
    letter-spacing: 4.8px;
    line-height: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 28px;
    }
}

h4 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 6.82px;
    line-height: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    h4 {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    h4 {
        font-size: 14px;
    }
}

h6 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 400px) {
    h4 {
        font-size: 1px;
    }
}

h3 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 2.4px;
    line-height: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    h3 {
        font-size: 14px;
    }
}

.nav a {
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
}

@media screen and (max-width: 1000px) {
    .nav a {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .nav a {
        font-size: 12px;
    }
}

h2 {
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    h2 {
        font-size: 25px;
    }
}

h5 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #FFFFFF;
}

p {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 26px;
    color: #FFFFFF;
}