// Almost all text

// .josefin-sans-<uniquifier> {
//     font-family: "Josefin Sans", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

// Search button

// .aleo-<uniquifier> {
//     font-family: "Aleo", serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: bold;
    font-size: 48px;
    letter-spacing: 4.8px;
    line-height: 26px;
    color: #FFFFFF;
}

h4 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 6.82px;
    line-height: 26px;
    color: #FFFFFF;
}

h6 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 26px;
    color: #FFFFFF;
}

h3 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 2.4px;
    line-height: 26px;
    color: #FFFFFF;
}

.nav__nav {
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
}