.whysection {
    background-image: url('../images/backgroundtwo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 18 / 7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 10%;
    padding-bottom: 5%;
}

@media screen and (max-width: 1000px) {
    .whysection {
        flex-direction: column;
    }
}

@media screen and (max-width: 3000px) {
    .whysection_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 50px;
        margin-left: 12%;
        max-width: 560px;
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .whysection__content {
        align-items: center;
        justify-content: center;
    }
}

.whysection__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (max-width: 700px) {
    .whysection__text {
        max-height: none;
        box-sizing: border-box;
    }
}

.whysection__button {
    background-color: #5474FD;
    border: none;
    width: 228px;
    height: 63px;
    color: #FFFFFF;
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 26px;
}

.whysection__button:hover {
    background-color: #243ca8;
    transition: all 0.4s ease-in;
}

.whysection__imagebox {
    position: relative;
    width: 100%;
    max-width: 440px;
    height: 100%;
    max-height: 450px;
    margin-right: 12%;
}

@media screen and (max-width: 1000px) {
    .whysection__imagebox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (max-width: 3000px) {
    .whysection__house {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 1000px) {
    .whysection__house {
        position: relative;
    }
}

@media screen and (max-width: 3000px) {
    .whysection__mountain {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media screen and (max-width: 1000px) {
    .whysection__mountain {
        position: relative;
    }
}